/* Footer */
.pragmatic_footer_logo {
  font-family: Lobster;
}

.pragmatic_footer_button {
  font-size: 0.6 rem;
}

.pragmatic_footer {
  text-align: center;
  margin-top: 2rem;
}

/* Header */

.pragmatic_header {
  text-align: center;
  margin: 2rem 0;
}

.pragmatic_header_logo {
  font-family: Lobster;
}

@media screen and (max-width: 500px) {
  html {
    font-size: 10px;
  }
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #1a1a1a;
}

a:visited {
  color: black;
}
