<div class="pragmatic_header">
  <div>
    <h1 class="pragmatic_header_logo">Pragmatic</h1>
  </div>
  <div>
    <a href="{% url 'articleapp:list' %}">Articles</a>
    <a href="{% url 'projectapp:list' %}">Projects</a>
    <span>Nav 1</span>
    <span>Nav 2</span>
    <span>Nav 3</span>
    <span>Nav 4</span>
    {% if not user.is_authenticated %}
    <a href="{% url 'accountapp:login' %}?next={{request.path}}">
      <span>Login</span>
    </a>
    <a href="{% url 'accountapp:create' %}?next={{request.path}}">
      <span>SignUp</span>
    </a>
    {% else %}
    <a href="{% url 'accountapp:detail' pk=user.pk %}">
      <span>MyPage</span>
    </a>
    <a href="{% url 'accountapp:logout' %}?next={{request.path}}">
      <span>Logout</span>
    </a>
    {% endif %}
  </div>
</div>
