{% extends 'base.html'%}

<!--  -->
{% block content %}

<div style="text-align: center; max-width: 500px; margin: 4rem auto">
  <div>
    <p>{{ target_user.date_joined }}</p>
    {% if target_user.profile %}
    <h2 style="font-family: NanumSquareNeoB">
      {{ target_user.profile.nickname }}
    </h2>
    {% else %}
    <h4><a href="{% url 'profileapp:create' %}">Create Profile</a></h4>
    {% endif %}
  </div>

  {% if user == target_user %}
  <div>
    <a href="{% url 'accountapp:update' pk=user.pk %}">
      <button class="btn btn-dark rounded-pill col-6 mt-3">Change Info</button>
    </a>
  </div>
  <div>
    <a href="{% url 'accountapp:delete' pk=user.pk %}">
      <button class="btn btn-dark rounded-pill col-6 mt-3">Quit</button>
    </a>
  </div>

  {% endif %}
</div>

{% endblock %}
